<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>25953648734-ogb1s2jmuhfijso5fefs08tal74lj5fp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.25953648734-ogb1s2jmuhfijso5fefs08tal74lj5fp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>25953648734-1f6f1hm32od0rkp6paq70aul0n14dgrm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBXgDtkiPPYXxw0H_hyjvlLcsEhYm8NRcE</string>
	<key>GCM_SENDER_ID</key>
	<string>25953648734</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.createco.pointplus</string>
	<key>PROJECT_ID</key>
	<string>points-a1a14</string>
	<key>STORAGE_BUCKET</key>
	<string>points-a1a14.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:25953648734:ios:824b3223086b222ec674cf</string>
</dict>
</plist>